Backend/src/main/resources/wsdl/WSDL_Rooms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1569248050620" xmlns:ns0="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Room.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1569248050620">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Room.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Room.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Room">
                <xs:complexType>
                    <xs:attribute name="beds" type="xs:string"/>
                    <xs:attribute name="divisions" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="size" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Rooms">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Room" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusRoom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessRoom" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessRoom">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service_Rooms">
        <wsdl:port name="PortType_Room" binding="tns:PortType_RoomBinding">
            <soap:address location="http://Localhost:10103/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType_Room">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:in_Delete"/>
            <wsdl:output message="tns:out_Delete"/>
        </wsdl:operation>
        <wsdl:operation name="Get_All">
            <wsdl:input message="tns:in_Get_All"/>
            <wsdl:output message="tns:out_Get_All"/>
        </wsdl:operation>
        <wsdl:operation name="Insert">
            <wsdl:input message="tns:in_Insert"/>
            <wsdl:output message="tns:out_Insert"/>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsdl:input message="tns:in_Update"/>
            <wsdl:output message="tns:out_Update"/>
        </wsdl:operation>
        <wsdl:operation name="Get_ByParam">
            <wsdl:input message="tns:in_Get_ByParam"/>
            <wsdl:output message="tns:out_Get_ByParam"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortType_RoomBinding" type="tns:PortType_Room">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_All">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room/Get_All"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Insert">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room/Insert"/>
            <wsdl:input>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room/Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_ByParam">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms.serviceagent/PortType_Room/Get_ByParam"/>
            <wsdl:input>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Rooms"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="in_Delete">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
    <wsdl:message name="out_Delete">
        <wsdl:part name="Status" element="ns0:StatusRoom"/>
    </wsdl:message>
    <wsdl:message name="in_Get_All"/>
    <wsdl:message name="out_Get_All">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
    <wsdl:message name="in_Insert">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
    <wsdl:message name="out_Insert">
        <wsdl:part name="Status" element="ns0:StatusRoom"/>
    </wsdl:message>
    <wsdl:message name="in_Update">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
    <wsdl:message name="out_Update">
        <wsdl:part name="Status" element="ns0:StatusRoom"/>
    </wsdl:message>
    <wsdl:message name="in_Get_ByParam">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
    <wsdl:message name="out_Get_ByParam">
        <wsdl:part name="Rooms" element="ns0:Rooms"/>
    </wsdl:message>
</wsdl:definitions>