Backend/src/main/resources/wsdl/WSDL_Rooms_Hotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1569257256806" xmlns:ns0="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/RoomsHotel.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1569257256806">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/RoomsHotel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/RoomsHotel.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="StatusRoomsHotel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessRoomsHotel" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessRoomsHotel">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="roomsHotel">
                <xs:complexType>
                    <xs:attribute name="cost" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_hotel" type="xs:string"/>
                    <xs:attribute name="id_rooms" type="xs:string"/>
                    <xs:attribute name="room_number" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="roomsHotels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:roomsHotel" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service_Rooms_hotel">
        <wsdl:port name="PortType_RoomsHotels" binding="tns:PortType_RoomsHotelsBinding">
            <soap:address location="http://Localhost:10104/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType_RoomsHotels">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:in_Delete"/>
            <wsdl:output message="tns:out_Delete"/>
        </wsdl:operation>
        <wsdl:operation name="Get_All">
            <wsdl:input message="tns:in_Get_All"/>
            <wsdl:output message="tns:out_Get_All"/>
        </wsdl:operation>
        <wsdl:operation name="Insert">
            <wsdl:input message="tns:in_Insert"/>
            <wsdl:output message="tns:out_Insert"/>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsdl:input message="tns:in_Update"/>
            <wsdl:output message="tns:out_Update"/>
        </wsdl:operation>
        <wsdl:operation name="Get_ByParam">
            <wsdl:input message="tns:in_Get_ByParam"/>
            <wsdl:output message="tns:out_Get_ByParam"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortType_RoomsHotelsBinding" type="tns:PortType_RoomsHotels">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_All">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels/Get_All"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Insert">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels/Insert"/>
            <wsdl:input>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels/Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_ByParam">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Rooms_hotel.serviceagent/PortType_RoomsHotels/Get_ByParam"/>
            <wsdl:input>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="RoomsHotels"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="in_Delete">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
    <wsdl:message name="out_Delete">
        <wsdl:part name="Status" element="ns0:StatusRoomsHotel"/>
    </wsdl:message>
    <wsdl:message name="in_Get_All"/>
    <wsdl:message name="out_Get_All">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
    <wsdl:message name="in_Insert">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
    <wsdl:message name="out_Insert">
        <wsdl:part name="Status" element="ns0:StatusRoomsHotel"/>
    </wsdl:message>
    <wsdl:message name="in_Update">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
    <wsdl:message name="out_Update">
        <wsdl:part name="Status" element="ns0:StatusRoomsHotel"/>
    </wsdl:message>
    <wsdl:message name="in_Get_ByParam">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
    <wsdl:message name="out_Get_ByParam">
        <wsdl:part name="RoomsHotels" element="ns0:roomsHotels"/>
    </wsdl:message>
</wsdl:definitions>