Backend/src/main/resources/wsdl/WSDL_Bookings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1569428824507" xmlns:ns0="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Bookings.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1569428824507">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Bookings.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/Bookings.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="BkGuests">
                <xs:complexType>
                    <xs:attribute name="address" type="xs:string"/>
                    <xs:attribute name="contact_number" type="xs:string"/>
                    <xs:attribute name="date_of_birth" type="xs:string"/>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="first_name" type="xs:string"/>
                    <xs:attribute name="gender" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_number" type="xs:string"/>
                    <xs:attribute name="last_name" type="xs:string"/>
                    <xs:attribute name="status" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BkServices">
                <xs:complexType>
                    <xs:attribute name="cost" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_hotel" type="xs:string"/>
                    <xs:attribute name="id_service" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Bkrooms_hotel">
                <xs:complexType>
                    <xs:attribute name="cost" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_hotel" type="xs:string"/>
                    <xs:attribute name="id_rooms" type="xs:string"/>
                    <xs:attribute name="room_number" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Booking">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BkGuests" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns0:BkServices" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns0:Bkrooms_hotel" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="check_in_date" type="xs:string"/>
                    <xs:attribute name="check_out_date" type="xs:string"/>
                    <xs:attribute name="date" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="status" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingGuest">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_booking" type="xs:string"/>
                    <xs:attribute name="id_guest" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Bookings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Booking" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingsGuests">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BookingGuest" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingsRoomsHotel">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_booking" type="xs:string"/>
                    <xs:attribute name="id_rooms_hotel" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingsRoomsHotels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BookingsRoomsHotel" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingsService">
                <xs:complexType>
                    <xs:attribute name="cost" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="id_booking" type="xs:string"/>
                    <xs:attribute name="id_service_hotel" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookingsServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BookingsService" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusBooking">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessBooking" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessBooking">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service_Bookings">
        <wsdl:port name="PortTyp_Bookings" binding="tns:PortTyp_BookingsBinding">
            <soap:address location="http://Localhost:10107/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Bookings.serviceagent/PortTyp_Bookings"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTyp_Bookings">
        <wsdl:operation name="Get_ByRoom">
            <wsdl:input message="tns:in_Get_ByRoom"/>
            <wsdl:output message="tns:out_Get_ByRoom"/>
        </wsdl:operation>
        <wsdl:operation name="Get_ByID">
            <wsdl:input message="tns:in_Get_ByID"/>
            <wsdl:output message="tns:out_Get_ByID"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTyp_BookingsBinding" type="tns:PortTyp_Bookings">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get_ByRoom">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Bookings.serviceagent//Get_ByRoom"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_ByID">
            <soap:operation style="document" soapAction="/Maiden_Hotels_Project/ServicesCRUD_SOAP/Service_Bookings.serviceagent//Get_ByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="in_Get_ByRoom">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="out_Get_ByRoom">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="in_Get_ByID">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="out_Get_ByID">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
</wsdl:definitions>